* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

button {
  padding: 1rem 2.4rem;
  gap: 1rem;
  border: none;
  border-radius: 6px;
  background: #45b1e8;

  color: #fff8e7;
  font-weight: 700;
  cursor: pointer;
}

button:hover {
  background: #2d98ce;
}

body {
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  width: 100%;
}

#app {
  margin: 0 auto;
}

header {
  display: flex;
  align-items: center;
  gap: 6.8rem;
  padding: 3rem 9.5rem;
  background-color: #fff8e7;
}

header img{
  width: 11rem;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 4rem;
}

nav ul li a {
  text-decoration: none;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  line-height: 2.1rem;
  color: #696969;
}

nav button a{
  color: #fff8e7;
  text-decoration: none;
  font-weight: 700;
  cursor: pointer;
}

main #intro {
  display: flex;
  background-color: #ffcba4;
  padding: 6rem 9.5rem;
  gap: 1.6rem;
  align-items: center;
}

main .text-side {
  display: grid;
  gap: 2.5rem;
}

main #intro .text-side h1 {
  color: #2d98ce;
  font-family: "Nunito Sans", sans-serif;
  font-size: 4.9rem;
  font-weight: 400;
  line-height: 5.8rem;
}

main #intro .text-side p {
  color: #696969;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
}

main #intro .text-side #buttons {
  display: flex;
  gap: 2.4rem;
}

main #intro .text-side #buttons #know-more {
  width: 17.5rem;
}

main #intro .text-side #buttons #see-how-it-works {
  display: flex;
  align-items: center;

  color: #464646;
  font-weight: 800;
  cursor: pointer;
}

main #intro .text-side #buttons a img {
  width: 5rem;
}

main #intro .image-side img {
  border-radius: 1.5rem;
}

main #funcionalities {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 6rem;
  padding-bottom: 10rem;
  gap: 3.5rem;
  background-color: #fff8e7;
}

main #funcionalities h2 {
  width: 39.5rem;
  color: #696969;
  text-align: center;
  font-size: 3.8rem;
  font-weight: 400;
  line-height: 4.9rem;
}

main #funcionalities h2 span {
  color: #45b1e8;
  font-weight: 700;
}

main #funcionalities h3 {
  width: 55rem;
  color: #696969;
  text-align: center;
  font-family: "Manrope", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.7rem;
  margin-bottom: 10rem;
}

main #funcionalities #card-wrapper {
  display: flex;
  gap: 3rem;
}

main #funcionalities #card-wrapper .card {
  width: 19rem;
  background-color: #3284ae;
  border-radius: 2rem;
  padding: 2.5rem 3rem;
  display: grid;
  place-items: center;
  text-align: center;
  gap: 2rem;

  transition: transform 0.8s;
  transform-style: preserve-3d;
}

main #funcionalities #card-wrapper .card:hover {
  transform: rotateY(180deg);
}

.frontSide,
.backSide {
  position: absolute;
  z-index: -1;
  backface-visibility: hidden;
  width: 22rem;
  height: 18rem;
  border-radius: 2rem;
  display: grid;
  place-items: center;
  background-color: #3284ae;
}

.backSide {
  transform: rotateY(180deg);
}

main #funcionalities #card-wrapper .card img {
  background-color: #ffcba4;
  width: 4rem;
  border-radius: 50%;
}

main #funcionalities #card-wrapper .card p {
  color: #fff;
  text-align: center;
  font-family: "Nunito Sans", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  line-height: 115%;
}

main #papel3D {
  display: flex;
  background-color: #696969;
  padding: 6rem 9.5rem;
  gap: 6.1rem;
  align-items: center;
}

main #papel3D .text-side h2 {
  color: #fff;
  font-size: 3.8rem;
  font-weight: 400;
  line-height: 114%;
}

main #papel3D .text-side h3 {
  color: #fff;
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.7rem;
}

main #papel3D .text-side .advantages {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

main #papel3D .text-side .advantages p {
  color: #fff;
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.7rem;
}

main #papel3D .text-side button {
  width: 27.5rem;
  padding: 2.4rem 2.4rem;
}

@keyframes animate {
  0% {
    opacity: 0.3;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 0.3;
  }
}

main #totens {
  display: flex;
  background-color: #696969;
  padding: 6rem 9.5rem;
  gap: 6.1rem;
  align-items: center;
  border-width: 0.5rem;
  border-top-style: solid;
  border-color: #ffcba4;
}

main #totens #totens-text {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-self: flex-start;
}

main #totens #totens-text h2 {
  font-family: "Open Sans";
  color: #ffcba4;
  font-weight: 700;
}

main #totens #totens-text h3 {
  color: #fff;
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.7rem;
}
main #totens img {
  max-width: 400px;
}

main #wallpapers {
  display: flex;
  background-color: #fff8e7;
  padding: 6rem 9.5rem;
  gap: 6.1rem;
  align-items: center;
}

main #wallpapers #wallpapers-text {
  display: flex;
  flex-direction: column;
  gap: 2.13rem;
}

main #wallpapers #wallpapers-text h2 {
  font-family: "Open Sans";
  color: #45b1e8;
  font-weight: 700;
}

main #wallpapers #wallpapers-text h3 {
  color: #696969;
  font-family: "Nunito Sans";
  font-weight: 400;
}

main #wallpapers img {
  max-width: 400px;
}

footer {
  display: flex;
  background-color: #000;
  padding: 6rem 9.5rem;
  gap: 6.1rem;
  align-items: center;
  justify-content: space-between;
}

footer #contact-info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

footer #contact-info h2 {
  font-family: "Open Sans";
  color: #fff;
  font-weight: 700;
}

footer #contact-info ul {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

footer #contact-info ul .social-media-info {
  display: flex;
  align-items: center;
  gap: 0.95rem;
}

footer #contact-info ul img {
  max-width: 3.5rem;
}

footer #contact-info ul li .footer-li-text {
  font-family: "Nunito Sans";
  font-weight: 400;
  text-decoration: none;
  color: #fff;
}

footer #know-more-form {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 2rem 2rem 1.69rem 2rem;
  border-radius: 5px;
  gap: 3rem;
}

footer #know-more-form h2 {
  color: #445520;
  text-align: center;
  font-family: "Roboto";
  font-size: 1.875rem;
  font-weight: 600;
}

footer #know-more-form #input-fields {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-family: "Inter";
  color: #000;
  font-weight: 400rem;
  font-size: 1rem;
}

footer #know-more-form #input-fields .input-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

footer #know-more-form #input-fields .input-container .required-signal {
  color: red;
}

footer #know-more-form #input-fields .input-container .text-input-field {
  width: 32rem;
  height: 2.625rem;
  background-color: #f1f1f1;
  border: none;
  border-radius: 5px;
}
footer #know-more-form #input-fields #check-input-field {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.35rem;
}

footer #know-more-form #input-fields #check-input-field label {
  color: #676666;
  font-family: "Roboto";
  font-size: 1rem;
  font-weight: 400;
  padding-top: 1.3rem;
}

footer #submit-button {
  display: flex;
  justify-content: center;
  padding: 1rem 2.4rem;
  gap: 1rem;
  width: 14.9375rem;
  border: none;
  border-radius: 6px;
  background: #45b1e8;
  font-family: "Roboto";
  font-size: 1.7rem;
  color: #fff8e7;
  font-weight: 700;
  cursor: pointer;
  align-self: center;
}

footer #submit-button:hover {
  background: #2d98ce;
}
